.dashboard-card {
    display: flex
;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-radius: 10px;
    color: white;
    // border: 5.29px solid rgba(42, 193, 225, 1);
    background: rgba(224, 245, 255, 1);
    box-shadow: 1.76px 5.29px 7.05px 5.29px rgba(216, 235, 244, 1);
  .dashboard-cardInner {
    background: rgba(25, 133, 181, 1);
//  padding: 20px 30px;
  display: flex
;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
     border-radius: 10px;
    width: 100%;
  }
  .info-section {
    h2 {
      // font-weight: 700;
      margin-bottom: 20px;
    }

    .details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      p {
        // font-weight: 400;
        color: #a0c6de;
        margin: 0;
      }
      h4 {
        // font-weight: 700;
        margin: 2px 0 10px 0;
      }
      .disabled {
        color: #7aa9c9;
        // font-weight: 600;
      }
    }
  }

  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 3px solid white;
      object-fit: cover;
    }

    .settings-btn {
      background: transparent;
      border: none;
      color: white;
      font-size: 24px;
      position: absolute;
        top: -40px;
    right: -10px;
    cursor: pointer;
    }
  }
}
