.user-card {
  background-color: #fff;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.table-responsive {
  overflow-x: auto;
}

.scrollable-body {
  max-height: 400px; /* You can adjust the height */
  overflow-y: auto;
  display: block;
}

.scrollable-body table {
  width: 100%;
  table-layout: fixed;
}

.table {
  width: 100%;
  border-collapse: collapse;
  // font-family: 'Inter', sans-serif;
}

.table thead tr {
  background-color: green !important;
}


.table th,
.table td {
  padding: 12px 16px;
  text-align: left;
  font-size: 14px;
  color: #333;
}

.table thead {
  //   background-color: #F4F4F4;
  font-weight: 600;
}

.table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.table tbody tr:hover {
  background-color: #f0f8ff;
}

.user-image {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 4px;
  background-color: #d4eaf9;
  padding: 2px;
}

.edit-btn {
  background-color: #fbbc04;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 13px;
  cursor: pointer;
}

.details-btn {
  background-color: transparent;
  // color: #007bff;
  border: none;
  padding: 6px 12px;
  font-size: 13px;
  // text-decoration: underline;
  cursor: pointer;
}

.no-data-found {
  text-align: center;
  padding: 20px;
  color: #999;
  font-size: 16px;
}

.search-bar {
  text-align: end;
  position: relative;
  margin-left: auto;
  max-width: 218px;
  width: 100%;
  margin-bottom: 10px;
}

.search-bar>input {
  padding: 10px 10px 10px 30px;
  font-size: 12px;
  width: 100%;
  max-width: 220px;
}

span.material-symbols-outlined.search {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 4px;
  font-size: 20px;
  color: #757474;
}