    <div class="user-card">
        <div class="user-table-header">
            <h1>Product Table</h1>
            <!-- <hr class="header-line" /> -->
        </div>

        <div class="table-responsive scroll-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th (click)="sortByPrice()" style="cursor: pointer;">
                            Price (USD)
                            <span *ngIf="sortDirection === 'asc'">▲</span>
                            <span *ngIf="sortDirection === 'desc'">▼</span>
                        </th>

                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of productList; let i = index">
                        <td>{{ user?.id || 'NA' }}</td>
                        <td>{{ user?.title || 'NA' }}</td>
                        <td>{{ user?.description || 'NA' }}</td>
                        <td>{{ user?.category || 'NA' }}</td>
                        <td>{{ user?.price || 'NA' }}</td>
                        <td>
                            <img [src]=user?.images[0] alt="User Profile" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="no-data-found" *ngIf="productList?.length === 0">
            <span>No Product found</span>
        </div>
    </div>